{% extends "base.html" %} 

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Interest Rates</h1>
    </div>

    

        <div class="row mb-3">
          <div class="col">Current E: {{ Interest.ClassE }} <br> Current F: {{ Interest.ClassF }}  </div>
          <div class="col">Current G: {{ Interest.ClassG }}<br>  Current H: {{ Interest.ClassH }} </div>
          <div class="col">Current A: {{ Interest.ClassA }} <br> Current N: {{ Interest.ClassN }} </div>
          <div class="col">Current Q: {{ Interest.ClassQ }} <br> Current S: {{ Interest.ClassS }} </div>
        </div>

  

            <form class="form form-horizontal mb-3" method="post" role="form">    
               {{ wtf.quick_form(form, action=".", method="post", extra_classes=None, role="form", form_type="basic", horizontal_columns=('lg', 2, 10), enctype=None, button_map={'submit':'primary'}, id="")}}
                </form>


</main>
{% endblock %}
