{% extends "base.html" %} {% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Calculator </h1>
    </div>

    <button type="button" class="btn btn-primary" id="formButton">Capital Account</button>

    <button type="button" class="btn btn-primary" id="formButton2">Operating Account</button>

	<br><br>
    <div class="form-row">
        <form action="" method="post" novalidate id="calcForm">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-12" id="month">
                <p>
                    {{ form.month.label }}<br> {{ form.month(size=32) }}<br> {% for error in form.month.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["month"] == True %}
                    <p><span style="color: red;">There are errors with the months, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Month : <br> dec</p>
            </div>

            <div class="form-group col-md-12" id="year">
                <p>
                    {{ form.year.label }}<br> {{ form.year(size=32) }}<br> {% for error in form.year.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["year"] == True %}
                    <p><span style="color: red;">There are errors with the years, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Year : <br> 2018</p>
            </div>

            <div class="form-group col-md-12" id="fundValue">
                <p>
                    {{ form.fundvalue.label }}<br> {{ form.fundvalue(size=32) }}<br> {% for error in form.fundvalue.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["value"] == True %}
                    <p><span style="color: red;">There are errors with the Fund Value, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Fund Value : <br> 10000000</p>
            </div>

            <div class="form-group col-md-12" id="interestClass">
                <p>
                    {{ form.interestClass.label }}<br> {{ form.interestClass(size=32) }}<br> {% for error in form.interestClass.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p style="color:grey">Example - Interest Class : <br> E</p>
            </div>

            <div class="form-group col-md-12" id="donation">
                <p>
                    {{ form.donation.label }}<br> {{ form.donation(size=32) }}<br> {% for error in form.donation.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["donation"] == True %}
                    <p><span style="color: red;">There are errors with the Donation Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Donation Amounts : <br> jun-2020-1000000,jul-2020-0</p>
            </div>

            <div class="form-group col-md-12" id="spending">
                <p>
                    {{ form.spending.label }}<br> {{ form.spending(size=32) }}<br> {% for error in form.spending.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["spending"] == True %}
                    <p><span style="color: red;">There are errors with the Spending Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Spending Amounts : <br> 0</p>
            </div>


            <div class="form-group col-md-12" id="recap">
                <p>
                    {{ form.recap.label }}<br> {{ form.recap(size=32) }}<br> {% for error in form.recap.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["recap"] == True %}
                    <p><span style="color: red;">There are errors with the Recap Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Recap Amounts : <br> jun-2021-10000,jul-2021-0</p>
            </div>


            <div class="form-group col-md-12" id="distribution">
                <p>
                    {{ form.distribution.label }}<br> {{ form.distribution(size=32) }}<br> {% for error in form.distribution.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p style="color:grey">Example - Distribution Rate : <br> 0.05</p>
            </div>

            <div class="form-group col-md-12" id="operatingDistribution">
                <p>
                    {{ form.operatingDistribution.label }}<br> {{ form.operatingDistribution(size=32) }}<br> {% for error in form.operatingDistribution.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["operatingDistribution"] == True %}
                    <p><span style="color: red;">There are errors with the Operating Distribution Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Operating Capital Distribution : <br> 0</p>
            </div>


            <div class="form-group col-md-12" id="additionalContribution">
                <p>
                    {{ form.additionalContribution.label }}<br> {{ form.additionalContribution(size=32) }}<br> {% for error in form.additionalContribution.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["additionalContribution"] == True %}
                <p><span style="color: red;">There are errors with the Additional Contribution Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Additional Contribution : <br> 0</p>
            </div>



            <div class="form-group col-md-12" id="timeframe">
                <p>
                    {{ form.timeframe.label }}<br> {{ form.timeframe(size=32) }}<br> {% for error in form.timeframe.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
		{% if error["timeframe"] == True %}
                <p><span style="color: red;">There are errors with the Time Frame Field, Please check again</span></p>
                {% endif %}
                <p style="color:grey">Example - Time Frame : <br> 12</p><br>

            </div>
			
			{% if current_user.is_authenticated %}
            <div class="form-group col-md-12">
                <p>
                    {{ form.savedata(size=32) }} {{ form.savedata.label }}<br> {% for error in form.savedata.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>

                <p>
                        {{ form.nickname.label }} <br>
                    {{ form.nickname(size=32) }} <br> {% for error in form.nickname.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
            </div>
			{% endif %}
			
            <p>{{ form.submit() }}</p>
            {% if error == True %}
                <p><span style="color: red;">There are errors with the inputs, Please check again</span></p>
            {% endif %}
			
			{% if current_user.is_anonymous %}
			<div class="form-group col-md-12">
                <p>
					<a href="{{ url_for('signin') }}">Sign in to save your calculation.</a>
				</p>
            </div>
            {% endif %}
            
            <p>{{ form.expo() }}</p>
            
        </form>
    </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Results </h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <form action="" method="POST">
                    <!--<button type="submit" class="btn-sm btn-outline-secondary">Export</button>-->
                </form>
                <!--<form>
                    <<a href=# id=test><button type="submit" class="btn btn-sm btn-outline-secondary">Export</button></a>
                </form>-->
            </div>
        </div>
    </div>

    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    {% if error == {} %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for year in range(timeframe|int +1) %}
                    
                    {% if (year * 12 ) in calc[0].keys() %}
                    <th>{{ years + year }} </th>
                    {% endif %}
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc[0][year]) }} </th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Interest Returns </td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[2].keys() %}
                    <th>{{ "${:,.2f}".format(calc[2][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <!---->
                {% if form.interestClass.data.lower() == 'e' or form.interestClass.data.lower() == 'f' or form.interestClass.data.lower() == 'g' %}
                <tr>
                    <td>Donations</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Recapitalization</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Capital Distribution</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[5].keys() %}
                    <th>{{ "${:,.2f}".format(calc[5][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% elif form.interestClass.data.lower() == 'a' %}
                <tr>
                    <td>Capital Distribution</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Spending</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Recapitalization</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[5].keys() %}
                    <th>{{ "${:,.2f}".format(calc[5][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    <td>Additonal Capital Contribution</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Spending</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    {% if year in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][year]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            
                <tr>
                    <td>Closing Balance</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc[1][year]) }} </th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
    {% endif %}




    {% if error == {} %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Month</th>
                    {% for month in range((timeframe|int *12) + 1) %}
                    {% if (month) in calc[0].keys() %}
                    {%  set monthDict = {0 : "Jan",
                    1 : "Feb",
                    2 : "Mar",
                    3 : "Apr",
                    4 : "May",
                    5 : "Jun",
                    6 : "Jul",
                    7 : "Aug",
                    8 : "Sep",
                    9 : "Oct",
                    10 : "Nov",
                    11 : "Dec"} %}
                    <th>{{ monthDict[(months + month -1) % 12 ] }} {{ years + month//12}} </th>
                    {% endif %}
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    <th>{{ "${:,.2f}".format(calc[0][month]) }} </th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Interest Returns </td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[2].keys() %}
                    <th>{{ "${:,.2f}".format(calc[2][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <!---->
                {% if form.interestClass.data.lower() == 'e' or form.interestClass.data.lower() == 'f' or form.interestClass.data.lower() == 'g' %}
                <tr>
                    <td>Donations</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Recapitalization</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Capital Distribution</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[5].keys() %}
                    <th>{{ "${:,.2f}".format(calc[5][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% elif form.interestClass.data.lower() == 'a' %}
                <tr>
                    <td>Capital Distribution</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Spending</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Recapitalization</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[5].keys() %}
                    <th>{{ "${:,.2f}".format(calc[5][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% else %}
                <tr>
                    <td>Additonal Capital Contribution</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if year in calc[3].keys() %}
                    <th>{{ "${:,.2f}".format(calc[3][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td>Spending</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    {% if month in calc[4].keys() %}
                    <th>{{ "${:,.2f}".format(calc[4][month]) }} </th>
                    {% else %}
                    <th>$0.00</th>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
            
                <tr>
                    <td>Closing Balance</td>
                    {% for month in range((timeframe|int * 12) + 1) %}
                    <th>{{ "${:,.2f}".format(calc[1][month]) }} </th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
    {% endif %}
</main>



<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
            {% for year in range(timeframe|int +1) %}
                    "{{ years + year }}" ,
                    {% endfor %}
            ],

            datasets: [{
                label: 'Closing Balances',
                data: [
                {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                "{{ (calc[1][year]) }}" ,
                    {% endfor %}

                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]

            
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: true,
            }
        }
    });
</script>

{% endblock %}
