{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h1> Please fill in the boxes below: </h1>

            <form>
                <br>
                <b>Interest Class:</b>
                <select id="interestclass">
                    <option value="classNull" selected>Please Select an Option</option>
                    <option value="classE">Class E</option>
                    <option value="classF">Class F</option>
                    <option value="classG">Class G</option>
                    <option value="classH">Class H</option>
                    <option value="classA">Class A</option>
                    <option value="classN">Class N</option>
                    <option value="classQ">Class Q</option>
                    <option value="classS">Class S</option>
                </select>
                <div></div>
                <br>

                <br>
                <fieldset id="FSOpeningBalance"> <b>Opening Balance: </b>
                    <input type="text" name="inputAmount">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSMonthOrYear"> <b> Monthly or Yearly?: </b>
                    <select id="inputDateMonth">
                            <option value="null" selected> Please select a time period: </option>
                            <option value="monthly"> Monthly </option>
                            <option value="yearly"> Yearly </option>
                    </select>
                </fieldset>
                <br>


                <br>
                <fieldset id="FSStartMonth"> <b> Starting Month: </b>
                    <select name="inputDateMonth">
                            <option value="jan"> January </option>
                            <option value="feb"> February </option>
                            <option value="mar"> March </option>
                            <option value="apr"> April </option>
                            <option value="may"> May </option>
                            <option value="jun"> June </option>
                            <option value="jul"> July </option>
                            <option value="aug"> August </option>
                            <option value="sep"> September </option>
                            <option value="oct"> October</option>
                            <option value="nov"> November </option>
                            <option value="dec"> December</option>
                          </select>
                    </br>

                    <br>
                    <b> Ending Month: </b>
                    <select name="endDateMonth">
                                  <option value="jan"> January </option>
                                  <option value="feb"> February </option>
                                  <option value="mar"> March </option>
                                  <option value="apr"> April </option>
                                  <option value="may"> May </option>
                                  <option value="jun"> June </option>
                                  <option value="jul"> July </option>
                                  <option value="aug"> August </option>
                                  <option value="sep"> September </option>
                                  <option value="oct"> October</option>
                                  <option value="nov"> November </option>
                                  <option value="dec"> December</option>
                                </select>
                </fieldset>
                <br>

                <br>
                <fieldset id="FSStartYear">
                    <b> Starting Year: </b>
                    <input type="number" name="inputDateYear">
                    <br>
                    <b> Ending Year: </b>
                    <input type="number" name="EndDateYear">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSInterestRate">
                    <b> Interest Ratio for this class: </b> <br>
                    <input type="radio" name="rate1" value="2"> 2% <br>
                    <input type="radio" name="rate2" value="5"> 5%<br>
                </fieldset>
                <br>

                <br>
                <fieldset id="FSSpendingProfile">
                    <b> Spending Profile: </b>
                    <input type="number" name="SpendingProfile">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSProfileOfFundReceipts">
                    <b>Profile of Funds Receipt </b>
                    <input type="text" name="inputAmount">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSChangeInSpendingInt">
                    <b>Change in spending profile Integer:</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSChangeInSpendingMonth">
                    <b>Change in spending profile Monthly:</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSChangeInSpendingYear">
                    <b>Change in spending profile Yearly:</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSAdditionalDonations">
                    <b>Additional Donations</b>
                    <input type="text" name="">
                </fieldset>
                <br>
            
                <br>
                <fieldset id="FSAdditionalDonationsMonth">
                    <b>Month ofAdditional Donations</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSRecapitalisation">
                    <b>Recapitalisation</b>
                    <input type="text" name="">
                </fieldset>
                <br>
            
                <br>
                <fieldset id="FSRecapitalisationMonth">
                    <b>Month of Recapitalisation</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSCapitalDistribution">
                    <b>Capital Distribution</b>
                    <input type="text" name="">
                </fieldset>
                <br>

                <br>
                <fieldset id="FSCustomDistribution">
                    <b>Custom Distribution</b>
                    <input type="text" name="">
                </fieldset>
                <br>

            </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
