{% extends "base.html" %} 
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<style>
    #mainback{
      background-image: url("https://www.uwa.edu.au/study/-/media/UWAFS/Short-header-images/Background-Mobile/texture.jpg");
        /* Full height */
        height: 1000px;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

 
    </style>

<div id="mainback">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="jumbotron border border-white">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Modelling Returns on Funds Online Tool</p>
            <hr class="my-4" id="hrjumbo"> {% if current_user.is_authenticated %}
            <p>Welcome, {{ current_user.username }}!</p>
            <p> Your user ID is: {{ current_user.id }} </p>
            {% endif %}
            <p>The Modelling Returns on Funds Online Tool calculates returns according to the profile and duration of funds across four investment pools. </p><br>
			
			{% if current_user.is_anonymous %}
			<p> To get started, please sign in, register an account or use the calculation tool.</p>
			{% endif %}
			
            <p class="lead">
            </p>

        </div>
    </div>
</main>
</div>



{% endblock %}

