{% extends "base.html" %} {% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Modelling Returns on Analysis Online Tool</p>
            <hr class="my-4" id="hrjumbo">
            {% if current_user.is_authenticated %}
            <p>Welcome, {{ current_user.username }}!</p>
            {% endif %}
			<p>The Modelling Returns on Analysis Online Tool calculates returns according to the profile and duration of funds across four investment pools. </p>
            <p class="lead">
            </p>
			
        </div>
    </div>
</main>



{% endblock %}