{% extends "base.html" %} {% block content %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Stored Results</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                Date
            </button>
        </div>
    </div>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0px 10px ;
        }
    </style>
    <table style="border: 1px solid black; text-align:center;">
            <tr>
                <th>Result ID</th>
                <th>Nickname </th>
                <th>User ID </th>
                <th>Class</th>
                <th>Timeframe</th>
                <th>Interest Rate</th>
            </tr>
   
    {% for exp in expected %} {% if current_user.id == exp.user_id %}
    
    <div class="table-responsive">
    
        <tr> 
            <td>{{ exp.id }}</td>
            <td>{{ exp.nickname}} </td>
            <td>{{ exp.user_id }}</td>
            <td>{{ exp.intclass }}</td>
            <td>{{ exp.timeframe }}</td>
            <td>{{ exp.interest }}</td>

        </tr>
    
    </div>
    
    {% endif %} {% endfor %}
    </table>
    {% if error2 == True %}
    <span style="color: red;">
        <p> There was an error with your input. This usually occurs if you try to access data that does not exist, 
            or does not belong to you. If error persists, contacts administrators. </p>
    </span>
    {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.rid.label }}<br> {{ form.rid(size=8) }}<br> {% for error in form.rid.errors %}
            <span style="color: red;">Selected post either does not belong to you or does not exist. </span> {% endfor %}
        </p>
        <input type="submit" name='btn' value="form1">
    </form>

    <form action="" method="post" novalidate>
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.storedid.label }}<br> {{ form2.storedid(size=8) }}<br> {% for error in form2.storedid.errors %}
            <span style="color: red;">Selected post either does not belong to you or does not exist.</span> {% endfor %}
        </p>
        <input type="submit" name='btn' value="form2">
    </form>





    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for year in range(timeframe|int +1) %}
                    <th>{{ years + year }} </th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc[0][year]) }} </th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Closing Balance</td>
                    {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc[1][year]) }} </th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
    <br>
    <h2 class="h2">What If Analysis</h2>
    <form action="" method="post" novalidate>
        {{ form3.hidden_tag() }}
        <p>
            {{ form3.stored1.label }}<br> {{ form3.stored1(size=8) }}<br> {% for error in form3.stored1.errors %}
            <span style="color: red;">Selected post either does not belong to you or does not exist.</span> {% endfor %}
        </p>
        <p>
            {{ form3.stored2.label }}<br> {{ form3.stored2(size=8) }}<br> {% for error in form3.stored2.errors %}
            <span style="color: red;">Selected post either does not belong to you or does not exist.</span> {% endfor %}
        </p>
        <input type="submit" name='btn' value="form3">
    </form>

    <canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for year in range(timeframe1|int +1) %}
                    <th>{{ years1 + year }} </th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    {% for year in range(decMonth1,timeframe1|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc3[0][year]) }} </th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Closing Balance</td>
                    {% for year in range(decMonth1,timeframe1|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc3[1][year]) }} </th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Year</th>
                    {% for year in range(timeframe2|int +1) %}
                    <th>{{ years2 + year }} </th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    {% for year in range(decMonth2,timeframe2|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc4[0][year]) }} </th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Closing Balance</td>
                    {% for year in range(decMonth2,timeframe2|int * 12 + 1, 12) %}
                    <th>{{ "${:,.2f}".format(calc4[1][year]) }} </th>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>




</main>

<!-- Single graph -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
            {% for year in range(timeframe|int +1) %}
                    "{{ years + year }}" ,
                    {% endfor %}
            ],

            datasets: [
            {
                label: 'Scenario 1',
                data: [
                {% for year in range(decMonth,timeframe|int * 12 + 1, 12) %}
                "{{ (calc[1][year]) }}" ,
                    {% endfor %}

                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: true,
            }
        }
    });
</script>

<!-- What if Graph -->
<script>
    var ctx = document.getElementById("myChart2");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
            {% for year in range(timeframemax|int +1) %}
                    "{{ years1 + year }}" ,
                    {% endfor %}
            ],

            datasets: [{
                label: 'Scenario 1',
                data: [
                {% for year in range(decMonth1,timeframe1|int * 12 + 1, 12) %}
                "{{ (calc3[1][year]) }}" ,
                    {% endfor %}
                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }
            ,
            {
                label: 'Scenario 2',
                data: [
                {% for year in range(decMonth2,timeframe2|int * 12 + 1, 12) %}
                "{{ (calc4[1][year]) }}" ,
                    {% endfor %}
                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#e2b600',
                borderWidth: 4,
                pointBackgroundColor: '#e2b600'
            }
            ]

        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: true,
            }
        }
    });
</script>


{% endblock %}