{% extends "base.html" %} {% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="signin container-fluid">
        <div class="col-lg-10"></div>
        <div class="col-lg-10">
            <div class="special">
                <br>
                <h1>Reset Password </h1>
            </div>
			
			<form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br> {{ form.username(size=32) }}<br> {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
				<p>
                    {{ form.currentPassword.label }}<br> {{ form.currentPassword(size=32) }}<br> {% for error in form.currentPassword.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.newPassword.label }}<br> {{ form.newPassword(size=32) }}<br> {% for error in form.newPassword.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>
                    {{ form.newPassword2.label }}<br> {{ form.newPassword2(size=32) }}<br> {% for error in form.newPassword2.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
			
			
			
            <div>
                <p> Forgotten your password? Please contact Treasury, Investments & Financial Compliance at UWA to send you a new password. </p>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</main>
{% endblock %}