{% extends "base.html" %} {% block content %}



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">List of Users</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    Date
                </button>
        </div>
    </div>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 0px 10px;
        }
    </style>


    <div class="table-responsive">
            <table class="table table table-striped ">
                        <tr class="bg-primary text-white">
                <th> User Id </th>
                <th> User Name </th>
                <th> Is this user an Admin? </th>
            </tr>
            {% for user in User %}
            <tr>
                <td> {{ user.id }} </td>
                <td> {{ user.username }} </td>
                <td> {{user.admin }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>


</main>
{% endblock %}
